<section class="w-100 h-100 section-bg pt-3 py-5 ">
  <div class="row w-100 ">
    <div class="col-lg-6 col-md-12 p-1 d-flex flex-column align-items-center ">
      <div style="width: 80%;" class="text-center h-100 pt-5 fw-semibold mt-5 flex-column d-flex mx-auto align-items-center gap-5 ">

        <h3> <span class="rounded-5 line text-black "></span> La Trasnformación Digital provoca <br> que todo sea más rápido y eficiente </h3>

        <p class="fs-5 ">"La capacidad de adaptarse a la nueva realidad <br> es la clave de la Trasnformación Digital"</p>
        <iframe class="shadow-lg" width="100%" height="280" src="https://www.youtube.com/embed/h7TdCuGdWoE" frameborder="0" allowfullscreen></iframe>

      </div>
      <div style="width: 80%;" class="d-flex flex-column custom-margin ">
        <h5 class="fw-semibold mx-5 custom-color2 ">Descubre entre otros temas:</h5>
        <ul class="mt-4 mx-2 list-unstyled">
          <li *ngFor="let tema of temas" class="text-dark fs-5 mb-2 d-flex flex-row align-items-center">
            <div class="col-2 col-md-1 p-0 m-0">
              <img class="mx-1" src="../../../../assets/{{tema.imagen}}" alt="icono tema">
            </div>
            <div class="col-10 col-md-11 p-0 m-0">
              {{tema.tema}}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 p-5">
      <form class="d-flex flex-column justify-content-center bg-white rounded-5 shadow-lg w-100">
        <h3 class="text-center fw-semibold custom-color my-2">No pierdas las oportunidad ¡Regístrate ahora!</h3>
        <label for="nombre" class="form-label d-flex flex-column mt-4">
          <span class="form-text text-black fw-semibold m-2">Nombre</span>
          <input type="text" class="input-form rounded-3 border" id="nombre" name="nombre">
        </label>
        <label for="apellido" class="form-label d-flex flex-column">
          <span class="form-text text-black fw-semibold m-2">Apellido</span>
          <input type="text" class="input-form rounded-2 border" id="apellido" name="apellido">
        </label>
        <label for="telefono" class="form-label d-flex flex-column">
          <span class="form-text text-black fw-semibold m-2">Teléfono o celular</span>
          <input type="text" class="input-form rounded-2 border" id="telefono" name="telefono">
        </label>
        <label for="empresa" class="form-label d-flex flex-column">
          <span class="form-text text-black fw-semibold m-2">Empresa</span>
          <input type="text" class="input-form rounded-2 border" id="empresa" name="empresa">
        </label>
        <label for="cargo" class="form-label d-flex flex-column">
          <span class="form-text text-black fw-semibold m-2">Cargo</span>
          <input type="text" class="input-form rounded-2 border" id="cargo" name="cargo">
        </label>
        <label for="mail" class="form-label d-flex flex-column">
          <span class="form-text text-black fw-semibold m-2">Mail</span>
          <input type="text" class="input-form rounded-2 border" id="mail" name="mail">
        </label>
        <label for="entidadFederativa" class="form-label mt-3 d-flex flex-column">
          <span class="form-text text-black fw-semibold m-2">Entidad Federativa</span>
          <select id="entidadFederativa" name="entidadFederativa" class="form-select fw-bold bg-secondary bg-opacity-25 border px-4 form-text text-secondary smaller-font" aria-label="Default select example">
            <option selected>Selecciona tu Entidad Federativa</option>
            <option value="1">One</option>

          </select>
        </label>

        <button class="px-5 mx-auto mt-5 rounded-2 btn custom-button text-white fw-semibold">Registrarme</button>
      </form>
    </div>
  </div>
</section>
