<section
  class="h-100 w-100 py-5 section-bg d-flex flex-column justify-content-around custom-gap"
>
  <div class="w-100">
    <h2 class="text-center">
      Impartido por <br />
      Mtro. Rosalino Zamorano
    </h2>
  </div>

  <section class="row w-100 mx-auto px-md-5 mx-lg-0">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div
        class="py-4 bg-white rounded-3 d-flex flex-column align-items-center justify-content-center gap-4 position-relative linea-azul"
        style="margin: 30px"
      >
        <img class="" src="../../../../assets/Estrella.png" alt="estrella" />
        <p style="text-align: center" class="w-75">
          Amplia experiencia como Director de Tecnologías de la Información
          <!-- <span class="text-center d-block">información</span> -->
        </p>
      </div>
    </div>

    <div class="col-lg-8 col-md-6 col-sm-12">
      <ul class="d-flex flex-column list-unstyled h-100" style="margin: 30px">
        <li class="mt-2 d-flex" *ngFor="let descripcion of descripciones">
          <div>
            <img src="/assets/Flecha.png" alt="Flecha" class="mr-2" />
          </div>
          <div>
            <p>{{ descripcion }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div
        class="py-4 bg-white rounded-3 d-flex flex-column align-items-center justify-content-center gap-2 position-relative linea-azul"
        style="margin: 30px"
      >
        <img class="" src="../../../../assets/Estrella.png" alt="estrella" />
        <p style="text-align: center" class="w-75">
          Ingeniero en proyectos de implementación de ERP BAAN V y diseño em
          implementación de red de comunicaciones y telecomunicaciones CIDESI
        </p>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div
        class="py-4 bg-white rounded-3 d-flex flex-column align-items-center justify-content-center gap-4 position-relative linea-azul"
        style="margin: 30px"
      >
        <img class="" src="../../../../assets/Estrella.png" alt="estrella" />
        <ul
          class="d-flex px-1 flex-column w-75 justify-content-between list-unstyled w-100"
        >
          <li style="padding-top: 1.5%" class="" *ngFor="let puesto of puestos">
            <span class="d-inline-block circle rounded-5 mx-3"></span
            >{{ puesto }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</section>
