<section class="position-relative w-100 d-flex flex-column">
  <div class="img-background h-100 w-100 position-absolute">
    <img
      class="img-fluid"
      src="../../../../assets/BannerPrincipal.png"
      alt=""
    />
  </div>

  <div
    class="div-hero d-flex gap-5 flex-column align-items-center w-100 text-white"
  >
    <div style="height: 15%" class="w-75"></div>
    <div class="w-75 text-center">
      <h1 class="text-center">
        ¿Eres Director o Gerente de Empresa, de Ingeniería <br />
        o de Tecnologías de la Información?
      </h1>
    </div>

    <div class="custom-width">
      <p class="fs-5 px-4">
        En esta Masterclass podrás contar con una <strong>Guía</strong> del
        proyecto para su transformación. Además, contarás con el
        <strong>Análisis</strong> de procesos, selección de
        <strong>Tecnologías</strong> y su <strong>estrategia</strong> para
        implementarla.
      </p>
    </div>
  </div>

  <div class="div-hero row w-100">
    <div class="col-12 col-md-3"></div>
    <div class="col-12 col-md-3"></div>
    <div
      class="col-12 mx-3 mx-lg-0 col-md-5 text-center d-flex flex-column align-items-center text-white"
    >
      <div class="mt-5 mb-4">
        <img
          class="img-fluid"
          src="../../../../assets/LogoMasterClass.png"
          alt=""
        />
      </div>
      <div>
        <h3 style="line-height: 0.8" class="text-uppercase text-wrap">
          Transformación <br />
          <strong style="font-size: 4rem">Digital</strong>
        </h3>
      </div>
      <p class="fs-5">Impartida por el Mtro. Rosalino Zamorano</p>
      <p class="fs-4 p-custom-color fw-semibold">
        Martes 08 de Junio <br />
        <span class="fs-4 p-custom-color">Vía ZOOM</span>
      </p>

      <button class="mt-3 text-center fs-4 text-white btn btn-custom">
        Registrarme ahora
      </button>
    </div>
  </div>
  <div class="col-1"></div>
</section>
